/* common */
body {
  font-family: verdana;
}

h1 {
  font-size: 36px;
  font-family: "Times New Roman", serif;
}

p {
  font-size: 14px;
}

/* header */
header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 90px;
  position: absolute;
}

header nav {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

header .navbar-brand > img {
  width: 143px;
  height: 24px;
}

header .nav-item {
  padding: 0 10px;
}

header .nav-link {
  font-size: 14px;
  color: #fff;
}

header .nav-link:hover {
  color: #999;
}

header .dropdown-menu {
  margin-top: 25px;
  margin-bottom: 0;
}

header .dropdown-item {
  font-size: 14px;
  color: #fff;
  background-color: #000;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
}

header .dropdown-item:hover {
  background-color: #442606;
  color: #fff;
}

/* main */
main #top .top-photo {
  background-image: url(./images/cafe.jpg);
  background-size: cover;
  width: 100%;
  height: calc(9 / 16 * 100vw);
}

main #top .top-photo h1 {
  writing-mode: vertical-rl;
  color: #fff;
}

main #top .top-text {
  background-color: #000;
  color: #fff;
  padding: 56px 0;
  text-align: center;
}

main #top .top-text p {
  line-height: 32px;
}

main #intro {
  margin-top: 80px;
}

main #intro .intro-photo {
  width: 100%;
  margin: 0;
}

main #intro .intro-text {
  background-color: #f5f5f5;
  padding: 50px 20px 30px;
}

main #intro .intro-text h1 {
  color: #442606;
  font-weight: 700;
}

main #intro .intro-text p {
  line-height: 32px;
}

main #cards {
  margin-top: 100px;
}

main #cards .card {
  border: none;
}

main #cards .card::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
}

main #cards h1 {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  color: #442606;
}

main #cards .card-img-top {
  border-radius: 0;
}

main #cards .card-body {
  background-color: #f5f5f5;
  padding: 1.2rem 1.2rem 0.5rem 1.2rem;
}

main #cards .card-body .card-text {
  line-height: 2.4;
}

main #cards .card-footer {
  background-color: #f5f5f5;
  border: none;
}

main #cards .card-footer .card-btn {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  margin: auto 20px 0;
  padding: 15px 0;
  border-radius: 0;
  cursor: pointer;
  transition: 0.5s;
}

main #cards .card-footer .card-btn:hover {
  background-color: #442602;
}

main #newsEvent {
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 100px 0 0;
  max-width: 100%;
  background-color: #f5f5f5;
}

main #newsEvent .title {
  margin-bottom: 30px;
}

main #newsEvent .title h1 {
  font-size: 45px;
  font-weight: bold;
}

main #newsEvent .title h6 {
  padding-left: 1rem;
}

main #newsEvent .list-group .list-group-item:hover {
  background-color: #fff;
}

main #newsEvent .list-group .list-group-item h3 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

main #newsEvent .list-group .list-group-item p {
  font-size: 12px;
  color: #999;
}

main #newsEvent .list-group .thumbnail-item {
  padding: 0;
  display: inline-block;
}

main #newsEvent .list-group .thumbnail-item .event-thumbnail {
  overflow: hidden;
  float: left;
}

main #newsEvent .list-group .thumbnail-item .event-thumbnail img {
  height: 130px;
  transition-duration: 0.3s;
}

main #newsEvent .list-group .thumbnail-item .event-thumbnail img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

main #newsEvent .list-group .thumbnail-item .event-text {
  padding: 0.75rem 1.25rem;
  height: 130px;
  width: calc(100% - 205px);
  margin-left: 205px;
}

main #newsEvent .list-group .thumbnail-item .event-text h3 {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

main #newsEvent .list-group .thumbnail-item .event-text p {
  margin: 0;
}

main #newsEvent .list-link {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

main #newsEvent .list-link a {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
}

main #newsEvent .list-link a::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(45deg) translateY(-50%);
}

/* footer */

/* for tablet */
@media screen and (max-width: 991px) {
  /* common */

  /* header */
  header {
    background-color: #000;
    height: 60px;
  }

  header .navbar {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header .navbar-brand {
    padding-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  header .hamburger-button:focus {
    outline: none;
  }

  header .hamburger-button span {
    display: block;
    width: 18px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 2px;
  }

  header .navbar-nav {
    width: 100%;
    background-color: #000;
  }

  header .nav-item {
    padding: 0 6%;
  }

  header .nav-item:not(.dropdown) {
    height: 50px;
  }

  header .dropdown-toggle {
    height: 50px;
  }

  header .nav-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  header .dropdown-menu {
    margin-top: 0;
  }

  header .dropdown-item {
    width: 100%;
  }

  /* main */
  main #top .top-photo {
    margin-top: 0;
  }

  /* footer */
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  main #top .top-photo {
    height: 432px;
    background-position-x: center;
  }

  main #cards .row .col-md-4 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  main #newsEvent .list-group .thumbnail-item .event-thumbnail img {
    display: none;
  }
  main #newsEvent .list-group .thumbnail-item .event-text {
    height: auto;
    width: 100%;
    margin: 0;
  }
}
