/* common */

/* header */
header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
}

nav {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.navbar-brand > img {
  width: 143px;
  height: 24px;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: verdana;
  font-size: 14px;
  color: #ffffff;
}

.nav-link:hover {
  color: #999999;
}

.dropdown-menu {
  margin-top: 25px;
  margin-bottom: 0;
}

.dropdown-item {
  font-family: verdana;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #442606;
  color: #ffffff;
}


/* main */

/* footer */


/* for tablet */
@media screen and (max-width: 991px) {
  /* common */

  /* header */
  header {
    background-color: #000000;
    height: 60px;
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 0!important;
  }

  .navbar-brand {
    padding-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #hambarger-button {
    width: 18px;
    height: 18px;
  }

  #hambarger-button span {
    display: block;
    width: 18px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
    border-radius: 2px;
  }

  .navbar-nav {
    width: 100%;
    background-color: #000000;
  }

  .nav-item {
    padding: 0 6%;
  }

  .nav-item:not(.dropdown) {
    height: 50px;
  }

  .nav-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .dropdown-item {
    width: 100%;
  }

  /* main */

  /* footer */

}
